
<ion-view view-title="Heroes On The Water" name="login-view">
  <ion-content class="padding">
  <div class="row">
   <div class="col text-center">
 <img ng-src="img/how-logo.png">
    </div>
    </div>
 
      <div class="list">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <label>
            <ion-checkbox ng-model="isRememberMe">Remember Me</ion-checkbox>
          </label>
      </div>
      <button class="button button-full button-positive" id="loginButton" ng-click="login()">Login</button>
  </ion-content>
      <div class="bar bar-footer bar-assertive">
        <div class="col text-center">
          <a href="" style="color: white;">Register</button>
        </div>
        <div class="col text-center">
          <a href="" style="color: white;">Forgot Password?</button>
        </div>
      </div>
</ion-view>