<ion-view view-title="Welcome to Heroes On The Water!" name="login-view">
  <ion-content class="padding">
  <div class="row">
   <div class="col text-center">
 <img ng-src="img/how-logo.png">
    </div>
    </div>
 
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <label>
            <ion-checkbox ng-model="isRememberMe">Remember Me</ion-checkbox>
          </label>
      </div>
      <button round class="button button-full button-positive" id="submitButton"ng-click="login()">Login</button>
      <div class="row">
   <div class="col text-center">
      <button class="button button-clear button-positive" ng-click="register()">Register</button>
   </div>
   </div>
   <div class="col text-center">
      <button class="button button-clear button-assertive" ng-click="forgetpassword()">Forgot Password?</button>
   </div>
    </div>
  </ion-content>
</ion-view>