
<ion-view view-title="Dashboard">
  <div class="bar bar-subheader 
    item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>
  <ion-content class="padding has-subheader">
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card">
      <ion-item ng-repeat='item in events | filter: query' 
      class="item-text-wrap" href="#tab/dash/{{item.Name}}">
        <h2>{{item.Name}}</h2>
        <h3>{{item.Venue}}</h3>
        <p>{{item.Date}}, {{item.Start_time}}</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>

